<div class="title">
    <h1>Stonetop Character Creator</h1>
</div>
<div>
    <h2>Create a character by selecting a playbook below!</h2>
    <h2>Log in to create a character!</h2>
</div>
<div class="all-playbooks">
    {{#each playbooks as |playbook|}}
    <div class="playbook-container">
        <h2>{{playbook.name}}</h2>
        <h3>{{playbook.complexity}}</h3>
        <div class="playbook-image-container">
            <img src="{{playbook.image}}" alt="">
        </div>
        <p class="center">{{playbook.description}}</p>
        <a href="/background" data-name="{{playbook.name}}" class="playbook"><button>Select</button></a>
    </div>
    {{/each}}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/homepage.js"></script>