<div class="sheet">
    {{#each characters as |character|}}
    <h1>{{character.name}} {{character.playbook}}</h1>
    <div class="stat-boxes">
        <div class="stat">
            <div class="stat-main">
                <span class="relative-up">Strength</span>
                <h3 class="stat-button" data-name="STR">{{character.str}}</h3>
                <span class="relative-down">(STR)</span>
            </div>
        </div>
        <div class="stat">
            <div class="stat-main">
                <span class="relative-up">Dexterity</span>
                <h3 class="stat-button" data-name="DEX">{{character.dex}}</h3>
                <span class="relative-down">(DEX)</span>
            </div>
        </div>
        <div class="stat">
            <div class="stat-main">
                <span class="relative-up">Intelligence</span>
                <h3 class="stat-button" data-name="INT">{{character.int}}</h3>
                <span class="relative-down">(INT)</span>
            </div>
        </div>
        <div class="stat">
            <div class="stat-main">
                <span class="relative-up">Wisdom</span>
                <h3 class="stat-button" data-name="WIS">{{character.wis}}</h3>
                <span class="relative-down">(WIS)</span>
            </div>
        </div>
        <div class="stat">
            <div class="stat-main">
                <span class="relative-up">Constitution</span>
                <h3 class="stat-button" data-name="CON">{{character.con}}</h3>
                <span class="relative-down">(CON)</span>
            </div>
        </div>
        <div class="stat">
            <div class="stat-main">
                <span class="relative-up">Charisma</span>
                <h3 class="stat-button" data-name="CHA">{{character.cha}}</h3>
                <span class="relative-down">(CHA)</span>
            </div>
        </div>
    </div>
    <div class="stat-boxes">
        <div class="stat-secondary">
            <div class="stat-main">
                <h3>{{character.damage}}</h3>
                <span class="relative-down">Damage</span>
            </div>
        </div>
        <div class="stat-secondary">
            <div class="stat-main">
                <h3>20</h3>
                <span class="relative-down">HP (max {{character.health}})</span>
            </div>
        </div>
        <div class="stat-secondary">
            <div class="stat-main">
                <h3>{{character.armor}}</h3>
                <span class="relative-down">Armor</span>
            </div>
        </div>
        <div class="stat-secondary">
            <div class="stat-main">
                <h3>{{character.exp}}</h3>
                <span class="relative-down">XP</span>
            </div>
        </div>
        <div class="stat-secondary">
            <div class="stat-main">
                <h3>1</h3>
                <span class="relative-down">Level</span>
            </div>
        </div>
    </div>
    <div class="dice-tray">
        <h2 class="dice-result"></h2>
        <h2 class="level-of-success"></h2>
    </div>
</div>
    {{/each}}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/sheet.js"></script> 